@model SakilaProject1.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inventory_id" />
            <div class="form-group">
                <label asp-for="Film_id" class="control-label"></label>
                <input asp-for="Film_id" class="form-control" />
                <span asp-validation-for="Film_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store_id" class="control-label"></label>
                <input asp-for="Store_id" class="form-control" />
                <span asp-validation-for="Store_id" class="text-danger"></span>
            </div>
            <!-- Removed user access
            <div class="form-group">
                <label asp-for="Last_update" class="control-label"></label>
                <input asp-for="Last_update" class="form-control" />
                <span asp-validation-for="Last_update" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
